{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div class="row">
    <div class="col-lg-2">
        <form action="activate/" method="POST">
            {% csrf_token %}
                <button class="button btn-danger" type="submit">Activate</button>
        </form>

    </div>
    <div class="col-lg-2">

        <form action="deactivate/" method="POST">
            {% csrf_token %}
                <button class="button pull-right" type="submit">Deactivate</button>
        </form>
    </div>
    </div>

    <br />
    {{ block.super }}
{% endblock %}