*.pyc
db.sqlite3
*.db
*.pid
.idea/
.vscode/
media/
__ pycache __
.DS_Store
**/migrations/**
!**/migrations
!**/migrations/__init__.py
migrations/
.env
Pipfile.lock
.svn

# Frontend Gitignores

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
**/yarn.lock

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/package-lock.json
